<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>

<body>
    <form method="post" action="/createUsers">
        <div>
            Username: <input type="text" name="username" placeholder="Username" autofocus/>
        </div>
        <div>
            First Name: <input type="text" name="firstName" placeholder="First Name" />
        </div>
        <div>
            Last Name: <input type="text" name="lastName" placeholder="Last Name" />
        </div>
        <div>
            Password: <input type="password" name="password" placeholder="Password" />
        </div>
        <input type="submit" value="Add Users" />
    </form>
</body>

</html>